@font-face{
    font-family: bebas;
    src: url(/fonts/BebasNeue-Regular.woff) format("woff");
}
@font-face{
    font-family: roboto-regular;
    src: url(/fonts/Roboto-Regular.woff) format("woff");
}
@font-face{
    font-family: roboto-bold;
    src: url(/fonts/Roboto-Bold.woff) format("woff");
}

.font-bebas{
    font-family: bebas;
}
.bebas-big{
    font-size: 80px;
}
.bebas-medium{
    font-size: 48px;
}
.font-roboto-regular{
    font-family: roboto-regular;
}
.font-roboto-bold{
    font-family: roboto-bold;
}
.roboto-small{
    font-size: 16px;
}
.roboto-medium{
    font-size: 24px;
}
.color-black-deep{
    color: #363958;
}
.color-black-light{
    color: #3E3E3E;
}
.color-yellow{
    color: #FABE4C;
}
.btn-bg-green-gradient{
    background-image: linear-gradient(#A4BC46, #85A019);
}
.bg-soft-white{
    background-color: #fafafa;
}
.bg-gray{
    background-color: #dddddd;
}
.rounded-extra{
    border-radius: 20px;
}